#map {
	width: 100%;
	height: 52em;
	float: right;
	outline: none;
    background: #7773 !important;
    border: 1px solid #ddd3; 
}

h1, h2 {
	margin-top: 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #ddd3;
    margin-bottom: 0em;
    font-weight: 100;
}

.pre-scrollable {
	max-height: 35em;
	overflow-y: scroll;
    background: #ddd1;
	border-bottom: 1px solid #ddd3;
}

.section-title {
    font-weight: 100;
    display: block;
    margin-top: 1.5em;
    margin-left: 2em;
}

.event-list {
    margin-top: 0;
}

.event-list > li {
    padding-bottom: 1.5em;
    border-bottom: 1px solid #000;
    border-top: 1px solid #ddd2;
    padding-top: 0.5em;
}

.event-detail-list {
    margin-left: 2.5em;
    margin-top: 0.5em;
}

.event-icon {
    max-height: 2em;
    position: relative;
    top: 0.6em;
    margin-right: 0.2em;
}