@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
    color: #fff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	/*background-image: url(https://images5.alphacoders.com/887/887546.png);*/
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5) ),
        url(/assets/images/app_bg.jpg);
	background-position-x: center;
    background-size: cover;
    background-repeat-y: no-repeat;
    background-color: #000;
    background-attachment: fixed;
    background-position: center;
}

/**
input {
    border-radius: 2px;
    border: 1px solid #ddd;
    height: 2.6em;
    min-width: 20em;
    text-align: center;
    color: #777;
    outline: none;
    font-size: 16px;
    -webkit-box-shadow: 0 0 7px #f6c435;
    box-shadow: 0 0 20px #fff;
}
*/

input {
    color: #fff !important;
}

select option {
    color: #fff !important;
}

select {
    height: 3.5em;
    padding: 0.5em;
    background: #1111;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #777;
}

.center-x {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.default-btn {
    display: inline-block;
    width: 7em;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0 #c46028, inset 0px 1px 0px rgba(255, 255, 255, 0.7), inset 0 0 8px rgba(255, 255, 255, 0.5) !important;
    box-shadow: 0px 0 #c46028, inset 0px 1px 0px rgba(255, 255, 255, 0.7), inset 0 0 8px rgba(255, 255, 255, 0.5) !important;
    background-color: #eab732;
    border: 1px solid #c46028;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    transition: all 0.5s ease;
    bottom: 0.2em;
    margin-left: 0.5em !important;
}

.default-btn:hover {
    background-color: #c39829;
}

.default-btn:focus {
	outline: none !important;
}

.text-center {
	text-align: center;
}

.text-left {
    text-align: left;
}

/** 
 * Angular material overrides.
 * These needs to be changed (SCSS/Theme) -TODO
 */
.match-list .mat-expansion-indicator {
    visibility: hidden;
}

.mat-form-field-label {
    color: #eab732;
}

.mat-select-value {
    color: #fff;
}

.mat-option.mat-active {
    background: rgba(0,0,0,.04);
    color: #eab732;
}

.mat-select-arrow {
    color: #eab732 !important;
}

.mat-input-element {
    caret-color: #ffffff;
}

.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    margin: 0 1em;
}

.mat-focused .mat-form-field-label {
    color: #eab732;
}

.mat-form-field-ripple {
    background-color: #eab732;
}

.mat-form-field-underline {
    background-color: #fff;
}

.mat-form-field .mat-focused .mat-primary .mat-select-arrow {
    color: #fff;
}

.mat-select-content, .mat-select-panel-done-animating {
    background: #383838b5;
}

.mat-select-panel .mat-optgroup-label, .mat-select-panel .mat-option {
    font-size: inherit;
    line-height: 3em;
    height: 2.5em;
}

.mat-option {
    color: rgb(255, 255, 255);
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
    color: #ebb732;
}

.mat-expansion-panel {
    background: #fff;
    color: rgba(255, 255, 255, 0.87);
}